extends blocks/layout-default

block head
	title Animation Editor
	meta(charset='utf-8')

	link(rel='stylesheet' href='css/bootstrap.min.css')
	link(rel='stylesheet' href='css/bootstrap-grid.min.css')
	link(rel='stylesheet' href='css/bootstrap-reboot.min.css')
	link(rel='stylesheet' href='css/bootstrap-reboot.min.css')
	link(rel='stylesheet' href='css/jqtree.css')
	link(rel='stylesheet' href='css/main.css')

block content
	include blocks/menu
	include blocks/workarea

	script(src='js/jquery.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/tree.jquery.js')
	script(src='js/fabric.min.js')
	script(src='js/main.js')